html{
    height: calc(var(--vh, 1vh) * 100);
    display: flex;
    justify-content: center;
}


body{
    /* background: #FFDFDE; */
width:400px;
display:flex;
flex-direction: column;
margin:0;
}


.chat-container{
    height: calc(var(--vh, 1vh) * 100);
    display:flex;
    flex-direction: column;
}







/* 채팅창 상단 이름 표기 부분 */
.chat-container .gpt-profile{
    display: flex;
    align-items: center;
    height: 40px;
    background-color: #a1b4e0;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    position:fixed;
    width:400px;
}
.chat-container .gpt-profile span{
    margin-left:15px;
    font-family: 'jua', sans-serif;
}





















/*채팅창 하단 입력 부분*/

.chat-container .chat-input-box{
    display: flex;
    align-items: center;
    height: 50px;
    background-color: #a1b4e0;
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
    position:fixed;
    bottom:0;
    width:400px;
}

.chat-input-box form{
    display: flex;
    align-items: center;
    gap:10px;
}

.chat-container .chat-input-box button{
    width: 70px;
    background-color: #DDDDDD;
    border:0;
    border-radius: 100px;
    height: 31px;
    cursor: pointer;
    transition: all 0.3s;    
    font-family: "Jua", system-ui;
}
.chat-container .chat-input-box button:hover{
    background-color: #EEEEEE;

}

.chat-container .chat-input-box input{
    margin-left:10px;
    border-radius: 100px;
    padding:3px;
    padding-left: 20px;
    padding-right:20px;
    border:none;
    background-color: #DDDDDD;
    width:260px;
    height:25px;
    color:#6A7BA2;
}
.chat-container .chat-input-box input:focus{
    outline:none;
}











/*채팅 내역 부분*/


.chat-container #chat-box{
    top:40px;
    position:absolute;
    display: flex;
    flex-direction: column;
    align-self:center;
    gap:10px;
    padding:10px;
    width:378px;
    height: calc( 100% - 110px);
    overflow-y: auto;
    background-color: #ffffff;
    /* border-right: 1px solid black;
    border-left: 1px solid black; */
    box-shadow: 0 0 1px black; 

    font-family: 'Namum Gothic', sans-serif;    /*수정 필요*/
}   



.chat-container #chat-box div{
    font-size: 14px;
    display: flex;
    padding: 5px;
    width: fit-content;
    padding-left: 10px;
    padding-right: 10px;
    border-radius: 15px;
    max-width: 300px;

}

/*내 채팅*/
.chat-container #chat-box .user-message{
    align-self: flex-end;
    background-color: #BCE3FF;
    ;
}


.chat-container #chat-box .gpt-msg{
    padding-left: 0 ;
  
}
.chat-container #chat-box .gpt-message{
    background-color: #e9e9e9;
    max-width:  270px;
}

.chat-container #chat-box .gpt-name{
    margin-left: 0;
    padding-left:0;
    BACKGROUND-COLOR: #A8A8A8;
    border-radius: 100%;
}




/* "입력 중..." 말풍선 애니메이션 */
@keyframes fadeInOut {
    0% { opacity: 0; }
    10% { opacity: 1; }
    90% { opacity: 1; }
    100% { opacity: 0; }
}

.typing-indicator {
    animation: fadeInOut 3s ease-in-out;
}



@media screen and (max-width: 500px) {
    .chat-container .gpt-profile{
        display: flex;
        align-items: center;
        height: 40px;
        background-color: #a1b4e0;
        border-top-left-radius: 20px;
        border-top-right-radius: 20px;
        position:fixed;
        width:100%;
        border-radius: 0;

    }

    .chat-container #chat-box{
        border:none;
        box-shadow: none;;
        width:100%;
        padding:0;
        position:fixed;
        height: calc(100% - 90px);
        top:0;
    }
   
    .gpt-msg{
        margin-left:10px;
        }
    .user-message{
        margin-right:10px;
    }
    .user-message:first-child{
        margin-top: 10px;
    }



    
    .chat-container .chat-input-box{
        display: flex;
        align-items: center;
        height: 50px;
        background-color: #a1b4e0;
        border-bottom-left-radius: 20px;
        border-bottom-right-radius: 20px;
        position:fixed;
        bottom:0;
        width:100%;
        border-radius: 0;
    }
    .chat-container .chat-input-box form{
        width:100%;
    }
    .chat-container .chat-input-box input{
        width: calc(100% - 100px);
    }
    .chat-container .chat-input-box button{
        margin-right:10px;
        width:80px;
        color:black;
    }

}