<!-- templates/myname.html -->
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Enter Your Name</title>
</head>
<body>
    <h1 style="text-align: center;">내 이름을 입력하세요.</h1>
    <p style="text-align: center;">카카오톡에 입력된 내 이름을 입력해주세요</p>
    <form style="text-align: center;" action="{{ url_for('submit_myname') }}" method="get">
        <input type="text" id="myname" name="myname" required>
        <button type="submit">제출</button>
    </form>
</body>
</html>
