<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <!-- <link rel="stylesheet" href="{{ url_for('static', filename='css/submit.css')}}"> -->
    <link rel="stylesheet" href="{{ url_for('static', filename='css/submit_theme.css')}}">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Jua&display=swap" rel="stylesheet">
</head>
<body>
    <img src="{{ url_for('static',filename='image/main_logo.png')}}" alt="" id="logo">

    <div class="main_form">
        <div class="head_title">
            <h1>대화 내용을 업로드해주세요.</h1>
            <p>카카오톡 대화방 - 오른쪽 위 메뉴 - 설정 버튼 - 대화내용 내보내기 - 모든 텍스트 내부저장소에 저장 후 Documents/Kakaotalk에 저장된 txt 파일을 올려주면 돼!
                (아이폰일 경우 zip파일을 더블클릭해서 풀어줘야 해)</p>
        </div>
        <div class="foot_form">
            <form action="/fileupload/" id="file_upload" method="POST" enctype="multipart/form-data">
                <input type="file" id="savefile" name="savefile" accept=".txt , .csv" multiple required>
                <div class="preview">
                    <label for="" id="file-name-display" ></label>
                </div>
                <div class="buttons">
                    <button type="button" class="select" onclick="document.getElementById('savefile').click();">파일 선택</button>
                    <button type="submit">제출</button>
                </div>
                
            </form> 
        </div>
    </div>

    <script src="{{ url_for('static', filename='js/submit.js') }}"></script>

    <!-- Flash 메시지를 팝업으로 띄우기 위한 JavaScript -->
    <script>
        // Flash 메시지가 있다면 팝업 창으로 띄우기
        {% with messages = get_flashed_messages() %}
            {% if messages %}
                {% for message in messages %}
                    alert("{{ message|safe }}");
                {% endfor %}
            {% endif %}
        {% endwith %}
    </script>
</body>

</html>
