<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1 style="text-align: center;">마지막으로 {{name}}이랑</h1>
    <h1 style="text-align: center;">대화한 내용을 보여줘!</h1><p></p>
    <p>카카오톡 대화방 - 오른쪽 위 메뉴 - 설정 버튼 - 대화내용 내보내기 - 모든 텍스트 내부저장소에 저장 후 Documents/Kakaotalk에 저장된 txt 파일을 올려주면 돼!
        (아이폰일 경우 zip파일을 더블클릭해서 풀어줘야 해)</p>
    
        <form action="/fileupload/" method="POST" enctype="multipart/form-data">
            <input type="file" name="savefile" accept=".txt" multiple>
            <button type="submit">제출</button>
        </form>        
</body>
</html>