<!-- templates/myname.html -->
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>이름을 입력하세요.</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/yourname.css')}}">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Jua&display=swap" rel="stylesheet">

</head>
<body>
    <img src="{{ url_for('static',filename='image/main_logo.png')}}" alt="" id="logo">

    <div class="container">
        <div class="your_name"> 
            <h1 style="text-align: center;">상대의 이름을 입력하세요.</h1>
            <p style="text-align: center;">카카오톡에 입력된 상대 이름을 입력해주세요</p>
        </div>
        <form style="text-align: center;" action="/yourname/submit" method="get">
            <input type="text" id="name" name="name" required autofocus>
            <button type="submit">제출</button>
        </form>
        <!-- <img src="{{ url_for('static',filename='image/CherryBlossom.png')}}" alt=""> -->

    </div>
    <script src="{{ url_for('static', filename='js/yourname.js') }}"></script>

</body>
</html>

