<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1 style="text-align: center;">상대의 이름을 입력하세요.</h1>
    <p style="text-align: center;">카카오톡에 입력된 상대 이름을 입력해주세요</p>
    <form style="text-align: center;" action="/yourname/submit" method="GET">
        <input type="text" name="name" placeholder="이름 입력">
        <button type="submit">제출</button>
    </form>
</body>
</html>
